
<%- include('navigation.ejs'); %>

<main>
    <%- include(`pages/${dashboardPage}.ejs`) %>
</main>

<div class="popups">
    <%- include('../popups/qr.ejs'); %>
    <%- include('../popups/share-link.ejs'); %>
    <%- include('../popups/create-link.ejs'); %>
    <%- include('../popups/created-link.ejs'); %>
</div>

<script src="/vendor/easy-popup/index.js" id="reload-popups"></script>
<script src="/vendor/qrcode/qrcode.min.js"></script>

<script src="/dialogs/qr.js"></script>
<script src="/dialogs/link.js"></script>

<script src="/utils/theme.js"></script>

<script src="/scripts/dashboard/links.js"></script>
<script src="/scripts/dashboard/index.js"></script>

<script src="/scripts/index.js"></script>

<% if (dashboardPage === "link-view") { %>
    <script src="/vendor/chartjs/chart.min.js"></script>

    <script>window.link_analytics = {
        devices: <%- JSON.stringify(analytics.devices) %>,
        referers: <%- JSON.stringify(analytics.referers) %>,
        clicks: <%- JSON.stringify(analytics.clicks) %>,
    }</script>

    <script src="/scripts/dashboard/link-view.js"></script>
<% } %>
