<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="stylesheet" href="/vendor/easy-popup/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <nav>
        <a href="/" class="text-gradient nav-logo">
            <svg width="25" height="25" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_2)">
                <rect width="150" height="150" fill="#2A2D39"/>
                <path d="M16.5 75C16.5 42.6913 42.6913 16.5 75 16.5C107.309 16.5 133.5 42.6913 133.5 75V133.5H75C42.6913 133.5 16.5 107.309 16.5 75Z" stroke="#F6DEC9" stroke-width="33"/>
                <path d="M16.5 75C16.5 42.6913 42.6913 16.5 75 16.5C107.309 16.5 133.5 42.6913 133.5 75V133.5H75C42.6913 133.5 16.5 107.309 16.5 75Z" stroke="url(#paint0_linear_1_2)" stroke-opacity="0.5" stroke-width="33"/>
                <rect x="117" y="117" width="33" height="33" fill="#2A2D39"/>
                </g>
                <defs>
                <linearGradient id="paint0_linear_1_2" x1="170" y1="129" x2="8.00001" y2="93.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#DEC8F5"/>
                <stop offset="0.578125" stop-color="#CFBAE4" stop-opacity="0.475469"/>
                <stop offset="1" stop-opacity="0"/>
                </linearGradient>
                <clipPath id="clip0_1_2">
                <rect width="150" height="150" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            <div>Web utilities</div>
        </a>
        <div class="links">
            <!-- <div class="link" id="theme-changer">Change theme</div> -->
            <a href="" class="link">About us</a>
            <a href="" class="link">Resources</a>
            <a href="" class="link">Why does this exist?</a>
            <a href="" class="link">Credits</a>
            <% if (typeof user !== "undefined") { %>
                <a href="/app" class="button bg-gradient">Dashboard</a>
            <% } else { %>
                <a href="/auth/login" class="button bg-gradient">Authentificate</a>
            <% } %>
        </div>
    </nav>
    <header>
        <%- include('components/index/header.ejs'); %>
    </header>
    <main>
        <%- include('components/index/cards.ejs'); %>
    </main>

    <div class="popups">
        <%- include('components/popups/qr.ejs'); %>
        <%- include('components/popups/create-link.ejs'); %>
        <%- include('components/popups/created-link.ejs'); %>
    </div>

    <script src="/vendor/easy-popup/index.js"></script>
    <script src="/vendor/qrcode/qrcode.min.js"></script>

    <script src="./dialogs/qr.js"></script>
    <script src="./dialogs/link.js"></script>

    <script src="./utils/theme.js"></script>
  </body>
</html>